* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #d5d5d5;
    margin-bottom: 3em;
    box-shadow: 0 0 10px black;
}

.main_title {
    text-align: center;
    padding-top: .8em;
    margin: 0 3em 1em 3em;
}

.sub_title {
    font-size: 1.5em;
    text-align: center;
    color: red;
    padding-bottom: 1em;
}

#main_container {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50vh, 1fr));
}

.emp_section {
    text-align: center;
}

.headshot_frame {
    margin: 0 auto;
    height: 60%;
    width: 20%;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    overflow: hidden;
}

.emp_headshot {
    height: auto;
    width: 110%;
}

.emp_section h3 {
    margin: 10px;
}

.emp_info a {
    color: blue;
    font-weight: bolder;
}

.cv_link {
    margin: 10px;
}

.cv_link a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.emp_cv {
    width: 100%;
}